@model ITWebNet.Food.Site.Areas.Manager.Models.CafeBusinessHoursItemModel

@{
    Guid index = Guid.NewGuid();
    string controlClass = "form-control";
}

@if (Model != null)
{
    <div class="form-inline">
        <div class="form-group">
            <input name="@string.Format("{0}.Index", ViewData["Prefix"])" type="hidden" value="@index" />
            <input asp-for="OpeningTime" type="time" class="@controlClass" name="@(ViewData["Prefix"])[@index].OpeningTime" />
            -
            <input asp-for="ClosingTime" type="time" class="@controlClass" name="@(ViewData["Prefix"])[@index].ClosingTime" />
            <a href="#!" onclick="removeCafeBusinessHoursItem('@index', '@(((string)ViewData["Prefix"]).Split('.')[1])')">Удалить</a>
        </div>
    </div>
    @if (!(string.IsNullOrEmpty(Model.Info)))
    {
        <span class="text-danger">@Model.Info</span>
    }
}