@model List<ITWebNet.Food.Site.Models.CompanyOrderModel>
@{
}
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Заказы юридических лиц</b>
    </div>
    <table class="table table-striped table-hover table-bordered table-head-center" id="company-orders">
        <thead>
            <tr>
                <th>№ заказа</th>
                <th>Время поступления</th>
                <th>Время доставки</th>
                <th>Наименование</th>
                <th>Стоимость заказов</th>
                <th>Доставка</th>
            </tr>
        </thead>
        <tbody class="selectable">
        @foreach (var item in Model)
        {
            <tr class="selectable-item" data-item-id="@item.Id" data-name="CompanyOrders">
                <td>
                    <a href="@Url.RouteUrl("ManagerCafe", new {cafeId = item.CafeId, controller = "Reports", action = "Details", id = item.Id, orderType = EnumOrderType.Collective})">@item.Id</a>
                </td>
                <td>
                    <span>@item.OrderOpenDate</span>
                </td>
                <td>
                    <span>@item.DeliveryDate</span>
                </td>
                <td>
                    <span class="wrap-word-td">@item.Company.Name</span>
                </td>
                <td>
                    <span>
                        @item.TotalPrice<span class="text-muted"> ₽</span>
                    </span>
                </td>
                <td>
                    <span>
                        @item.TotalDeliveryCost<span class="text-muted"> ₽</span>
                    </span>
                </td>
                <td>
                    <a class="collapsed @(!ViewData.ContainsKey("filter-data") ? "expand-order" : string.Empty)" data-load="true" role="button" data-toggle="collapse" data-target="#company-order-@item.Id" aria-expanded="false" aria-controls="company-order-@item.Id">
                        <i class="fa fa-expander"></i>
                    </a>
                </td>
            </tr>
            <tr class="cancel-select collapse" id="company-order-@item.Id">
                @await Html.PartialAsync("_UserReportsGroup", item.UserOrders)
            </tr>
        }
        </tbody>
    </table>
</div>