@model LoginSmsViewModel


<div id="id-ajax-message">
    @if (Model.Message != null)
    {
        @await Html.PartialAsync("_Message", Model.Message)
    }
</div>

@if (!Model.IsSendCode)
{
    //Форма запроса на СМС код

    <form asp-action="LoginSendSmsCode" asp-controller="Account" asp-route-returnUrl="@ViewBag.ReturnUrl" asp-route-type="sms"
          onsubmit="$(this).valid() && $('button[type=submit]', this).prop('disabled', true)">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group ">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "sr-only" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input asp-for="Phone" class = "form-control" placeholder = "Номер телефона" autocomplete = "on" />
            </div>
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Выслать код</button>
        </div>
    </form>
}
else
{
    //Форма авторизации по СМС коду
    <form asp-action="LoginSms" asp-route-returnUrl="@ViewBag.ReturnUrl"
          onsubmit="$(this).valid() && $('button[type=submit]', this).prop('disabled', true)"
          data-ajax="true" data-ajax-update="#id-ajax-message"
          data-ajax-success="typeof data === 'string' ? $('button[type=submit]', this).prop('disabled', false) : (window.location.href = data.redirectUrl)">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group ">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "sr-only" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input asp-for="Phone" class = "form-control click-none" placeholder = "Номер телефона"  />
                <span class="input-group-addon addon-phone-edit"><a class="btn-link" href="javascript:void(0)" onclick="location.href='@Url.Action("Login", "Account")'">Изменить</a></span>
            </div>
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SmsCode, htmlAttributes: new { @class = "sr-only" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input asp-for="SmsCode" class = "form-control" placeholder = "Код из СМС" />
            </div>
            @Html.ValidationMessageFor(model => model.SmsCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div id="id-timer">Повторно можно отправить через: <span id="id-js-timer">?</span> сек.</div>
            <div id="id-js-link-resend" style="display: none">
                Срок действия кода истек.
                <a href="javascript:;" onclick="resendSmsCode('@Url.Action("LoginSendSmsCodeAgain", "Account")')" class="btn-link">Отправить еще раз.</a>
            </div>
            <div id="id-js-link-resend-spinner" style="display: none"><span class="fa fa-spin fa-circle-o-notch"></span></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Продолжить</button>
        </div>
    </form>
}

@section Scripts {
    @Html.RenderPartialAsync("~/Scripts/jqueryval")
}