@model DishModel

@{
    var cafeId = ViewContext.RouteData.Values["cafeId"] ?? ViewContext.RouteData.Values["id"];
}

<li class="list-group-item sortable-item dish-info" id="dish-@Model.Id" data-dish-index="@Model.DishIndex">
    <div class="col-xs-5 wrap-word-td">@Model.Name</div>
    <div class="col-xs-3">
        @Model.BasePrice <i class="fa fa-rub"></i>
    </div>
    <a class="btn btn-link col-xs-1"
       href="@Url.RouteUrl("ManagerCafe", new {action = "Edit", controller = "Dishes", id = Model.Id})">
        <i class="fa fa-edit"></i>
    </a>
    <a href="@Url.RouteUrl("ManagerCafe", new {cafeId, controller = "Dishes", action = "Delete", id = Model.Id, categoryId = Model.CategoryId})"
       class="btn btn-link col-xs-1"
       data-ajax="true" data-ajax-method="GET" data-ajax-success="updateCategoriesPanels">
        <i class="fa fa-times text-danger"></i>
    </a>
    <div class="col-xs-2">
        <i class="fa fa-arrows-v pull-right sort-handle text-muted"></i>
    </div>
</li>